/* Dropdown menu */
.dropdown-cont {
    /*border: 1px solid grey;*/
    width: 250px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.dropdown-btn {
    border-radius: 5px;
    border: none;
    font-size: 16px;

}

.dropdown-main {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--background3);
    color: var(--background2);
    width: 180px;
    position: relative;
}

.dropdown-symbol {
    position: absolute;
    right: 10px;
}

.dropdown-main:hover {
    border: 1px solid var(--primary);
}

.dropdown-options-cont {
    background-color: whitesmoke;
    color: var(--background2);
    margin: 10px 0 0;
    padding: 5px;
    border-radius: 5px;
    width: 170px;
}

.dropdown-el {
    list-style-type: none;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    /*border: 1px solid gold;*/
}

.dropdown-el:hover {
    background-color: lightgray;
}

/* Charts */

.chart-cont {
    width: 90%;
    height: 100%;
    overflow-x: auto;
    /*border: 1px solid gold;*/
}


.custom-tooltip {
    background-color: white;
    padding: 8px 5px 10px 5px;
    color: grey;
    width: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    gap: 0;
}

.stat-label {
    font-weight: bold;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}

.stat-content {
    /*border: 1px solid red;*/
    margin-top: 5px;
    margin-bottom: 8px;
}

.stat-blurb {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    /*border: 1px solid blue;*/
}

.stat-spacer {
    height: 10px;
}

.voter-similarity-chart {
    border: 2px solid white;
    /*width: 300px;*/
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 18px;
    border-collapse: collapse;
}

th, td {
    padding: 7px 35px;
    /*border: 1px solid white;*/
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.header-row {
    margin-bottom: 10px;
    background-color: #403e3e;
    /*color: var(--background2);*/
}

.body-row {
    background-color: #4c4b4b;
    /*color: dark;*/
    font-weight: bold;
    position: relative;
}

.body-row:hover {
    background-color: var(--primary);
    cursor: default;
}

.body-row:hover .tooltip-text {
    visibility: visible;
}

.tooltip-text {
    visibility: hidden;

    background-color: white;
    padding: 8px 8px;
    color: grey;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    width: 150px;

    position: absolute;
    top: -20px;
    right: -150px;
    z-index: 1;
}