.voting-cont {
    /*border: 3px solid #3ea45e;*/
    border: 3px solid white;
    background-color: var(--background4);
    width: 500px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    /*Overlay on top of bracket*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.title-cont {
    border-bottom: 1px solid white;
    margin: 0 0 10px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    border-radius: 50%;
    border: none;
    background-color: #ab3632;
    color: var(--background2);
    height: 25px;
    width: 25px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    /*top: 5px;*/
    right: 10px;
}

.close-btn:hover {
    background-color: #c54d48;
}

.title {
    font-size: 20px;
}

.voting-grid {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 0 20px;
    /*border: 2px solid pink;*/
    row-gap: 5px;
}

.voter-row {
    /*border: 1px solid black;*/
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

/*So the choice icons line up*/
.voter-row:first-child {
    align-items: flex-end;
}

.voter-col {
    width: 33%;
    /*border: 1px solid gold;*/
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    /*border: 1px solid gold;*/
}

.option-title-cont {
    width: auto;
    height: auto;

}

.option-title {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    overflow-wrap: break-word;
    text-align: center;
    margin: 0 0 10px;
    /*border: 2px solid gold;*/
}

.option-icon {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: white;
}

.vs {
    font-size: 24px;
    margin-bottom: 30%;
}

.voting-spacer {
    height: 20px;
}

.vote-button {
    height: 15px;
    border-radius: 20%;
    border: none;
    color: black;
    text-align: center;
}

.voter-name {
    /*border: 2px solid white;*/
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    font-weight: bold;
}

.selected {
    display: none;
}

.voting-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0;
    row-gap: 25px;
}

.winner-text {
    font-size: 20px;
}

/*TODO: make this look faded when inactive*/
.next-matchup-button {
    /*height: 30px;*/
    border-radius: 7%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    margin: 5px 5px 15px;
}

.next-matchup-button:disabled {
    background-color: #adadad;
    color: grey;
}

.active {
    background-color: #32884d;
    color: #e5e0e0;
    box-shadow: 0 3px 3px #1d3b19;
}

.active:hover {
    background-color: #1c803b;
    cursor: pointer;
}

















