.setup-cont {
    position: absolute;
    top: var(--header-height);
    bottom: 0;
    right: 0;
    left: 0;
    /*border: 2px solid gold;*/
    display: flex;
    flex-flow: row;
    height: 100% -var(--header-height);
}

.setup-title {
    align-self: center;
    font-size: 38px;
}

.setup-top-cont {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    /*border: 2px solid blue;*/
    gap: 75px;
    margin-bottom: 10px;
}

.start-btn {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--accent);
    color: var(--text);
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
}

.start-and-reset-cont {
    display: flex;
    flex-flow: column;
    gap: 15px;
    align-items: flex-end;
    /*align-items: center;*/
}

.reset-btn {
    width: 60px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #c54d48;
    color: var(--text);
    border: none;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    right: 0;
}

.start-btn-able:hover {
    background-color: var(--accent-hover);
}

.start-btn-disabled {
    background-color: grey;
}

.start-btn-disabled:hover {
    background-color: darkgrey;
}


.setup-left {
    /*border: 2px solid blue;*/
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    overflow: scroll;
    height: 100%;
    position: relative;

}

.settings {
    /*border: 2px solid green;*/
    position: relative;
    top: 0;
    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    background-color: var(--background3);
    margin-left: 10px;
    margin-right: 10px;
}

.settings-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-top: .05rem solid var(--thin-lines);
    border-bottom: .05rem solid var(--thin-lines);
    padding-left: 15px;
    padding-right: 25px;
    height: 55px;
}

.settings-desc {
    display: flex;
    flex-flow: column;
    padding-left: 15px;
    padding-right: 25px;
    align-items: flex-start;
    padding-bottom: 20px;
}

.desc-title {
    margin-bottom: 15px;
}

.desc {
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    color: lightgray;
    background-color: var(--background);
    padding: 5px;
    font-size: 16px;
    outline: none;
    resize: vertical;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.num-teams-input {
    width: 10%;
    height: 30%;
}

.settings-input {
    align-self: center;
    border: 1px solid gray;
    color: lightgray;
    background-color: var(--background);
    padding: 5px;
    font-size: 16px;
    outline: none;
}

.title-input {
    height: 25%;
    margin-left: 20px;
}


/*TODO: use this instead of just nothing for Team component*/


/*Error handling*/
