.play-bracket-cont {
    display: flex;
    flex-flow: row;
    padding-top: 15px;
}

.print-btn {
    height: 35px;
    width: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: none;*/
    /*background-color: var(--primary);*/
    /*color: white;*/
}

.print-btn:hover {
    background-color: var(--primary-hover);
}

.print-btn-icon {
    font-size: 22px;
}

.play-bracket-title-cont {
    /*display: none;*/

    margin-left: 15px;
    margin-right: 20px;
    /*display: flex;*/
    /*flex-flow: row;*/
    justify-content: space-between;
    align-items: center;
}

.play-sidebar {
    border: 2px solid var(--background2);
    background-color: var(--background3);
    width: 200px;
    margin-left: 15px;
    display: flex;
    flex-flow: column;
    gap: 30px;
    height: fit-content;
    padding: 10px 5px 25px 5px;
    position: absolute;
    right: 20px;
}

.progress-cont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.progress-bar-outer {
    height: 20px;
    width: 75%;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 9px;
}

.progress-bar-inner {
    background-color: var(--primary-hover);
    height: 20px;
    border-radius: 9px;
    width: 50%;
    z-index: 5;
}

.sidebar-btns {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid gold;*/
}

.instruction-text {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
