.play-bracket-cont {
    position: relative;
    /*border: 2px solid gold;*/

}

.overlay {
    position: fixed;
    /*top: var(--header-height);*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.tournament {
    display: flex;
    flex-direction: row;
    /*Do I want it to start in the middle or from the top?*/
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--background);
}

.round {
    display: flex;
    flex-flow: column;
    width: 200px;
    list-style: none;
    /*border: 1px solid gold;*/
}


/*Controls the vertical distance between games*/
.spacer {
    height: 10px; /* Initial height */
    flex-grow: .4;
}

/*Controls the vertical space before the first game and after the last game*/
.spacer:first-child, .spacer:last-child {
    flex-grow: .5;
}

/*Controls the vertical distance within games*/
.game-spacer {
    flex-grow: 2.0;
}

.matchup {
    display: flex;
    position: relative;
    flex-flow: column;
    list-style: none;
    height: 100%;
    width: 100%;
}

.clickable:hover {
    border: 2px solid var(--text);
    cursor: pointer;
}

.game-top {
    border-bottom: 1px solid var(--text);
}

.team-seed {
    float: left;
    margin-left: 10px;
}

.team-name {
    margin-left: 10px;
}

.team-votes {
    float: right;
    margin-right: 5px;
}

.game-spacer {
    border-right: 1px solid var(--text);
    min-height: 40px;
}

.game-bottom {
    border-top: 1px solid var(--text);
}

.votes-tally {
    /*Parent needs to be relative for absolute to work*/
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    /*font-weight: bold;*/
}

.final-round {
    /*justify-content: center;*/
    /*border: 1px solid purple;*/
}

.team-winner {
    font-weight: bold;
    color: var(--accent);
}

.winner-name {
    /*height: 20px;*/
    font-weight: bold;
    color: var(--accent);
}

.winner-stub {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
}
