.play-bracket-cont {
    display: flex;
    flex-flow: column;
    padding-top: 15px;
}

.print-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 40px;
    top: 5px;
    cursor: pointer;
    /*border: none;*/
}

.print-btn:hover {
    background-color: var(--primary-hover);
}

.print-btn-icon {
    font-size: 22px;
}

.play-bracket-title-cont {
    /*display: none;*/

    margin-left: 15px;
    margin-right: 20px;
    /*display: flex;*/
    /*flex-flow: row;*/
    justify-content: space-between;
    align-items: center;
}