:root {
    --text: #ebe9fc;
    --background: #474848;
    --background2: #010104;
    --background3: #3a3a3a;
    --background4: #343333;
    --primary: #4d6ef3;
    --primary-hover: #405dd5;
    --secondary: #050149;
    /*--accent: #ed1a82;*/
    --accent: #3ea45e;
    --accent-hover: #32884d;
    --thin-lines: #2e2f38;
    --header-height: 70px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    /*TODO: try a gradient background*/
    /*background-image: linear-gradient(var(--primary), #83c2d0);*/
    color: var(--text);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
}















